.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  border-bottom: 3px solid black;
  color: #fff;
  z-index: 100;
  transition: top 0.3s ease-in-out;
}

.main-header.sticky {
  position: sticky;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #333;
  color: #fff;
  opacity: 0;
}

.main-header.sticky.active {
  position: sticky;
  z-index: 100;
  top: 2.5%;
  width: 84vw;
  border: 3px solid black;
  border-radius: 45px;
  transform: translateX(-9%);
  transition: top 0.3s ease-in-out;
  opacity: 1;
}

.header-logo {
  height: 130px;
  width: 130px;
}

.logo-container {
  /* border: 3px solid blue; */
  border-radius: 55px;
  overflow: hidden;
  position: relative;
  left: 10%;
}

.logo-container img {
  max-height: 100%;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu-list li {
  padding: 0 15px;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.menu-list li a.active {
  font-weight: bold;
}

.contact-container {
  position: relative;
  right: 10%;
}

.contact-link {
  display: inline-block;
  padding: 15px 30px;
  border: 3px solid white;
  border-radius: 45px;
  color: #fff;
  text-decoration: none;
}

.contact-link:hover {
  border: 3px solid lime;
}

:root {
  --num-slides: 3;
}
  
* {
  box-sizing: border-box;
  transition: all ease-in-out .2s;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all content horizontally */
  justify-content: center; /* Center all content vertically */
  min-height: 100vh;
}
  
.header-h2 {
  position: relative;
  left: 0%;
  width: 40%;
  font-size: 50px;
}

.section {
  position: absolute;
  top: 6%;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #181b1f;
}

.slider-header {
  position: absolute;
  top: 10%;
  left: 50%; /* Center the header horizontally */
  transform: translateX(-50%); /* Move the header back by half of its own width */
  width: 80vw;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}


/* .slider-nav {
  display: flex;
  flex-direction: column; 
} */

.slide-counter {
  position: absolute;
  font-size: 58px;
  right: 200px
}
  
  
button {
  border: 3px solid black !important;
}

.up-button, .down-button {
  background-color: transparent;
  border: 3px solid white !important;
  border-radius: 55px;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  height: 70px;
  width: 70px;
  justify-content: space-between;
  margin-bottom: 10px; /* Add some spacing between the buttons */
}

.prev-button,
.next-button {
  background-color: transparent;
  border: 3px solid white !important;
  border-radius: 55px;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  height: 70px;
  width: 70px; 
  justify-content: space-between;
}

.prev-button {
  margin-right: 15px;
}

button:hover {
  background: orange;
}

button:active {
  background: red;
}

.service-content {
  position: absolute;
  top: 30% !important;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid black !important;
  border-radius: 45px;
  width: 80vw;
  height: 60vh;
  background-color: #0b3954;

}
  

.service-text {
    position: absolute;
    height: 100%;
    top: 0% ;
    width: 50%;
    left: 5%;
}

.service-description {
    position: relative;
    top: 30%;
}

.service-icon {
    position: absolute;
    height: 100%;
    width: 35%;
    right: 0% !important;
}

.fa-sun, .fa-piggy-bank, .fa-users-line {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 250px;
}
 
.to-service {
    position: relative;
    top: 35%;
    color: white;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 35px;
    padding: 20px 40px;
    font-size: 15px;
}

.to-service:hover {
    border: 3px solid lime;
}

.service-header {
    position: absolute;
    top: 15%;
}














/* Animation for slide in */
.service-content.slide-in {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.5s, transform 0.5s;
}

/* Animation for slide out */
.service-content.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
}
